.final_header {
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 20px;
    /* position: relative; */
}


@media (max-width: 450px) {
    .black-card {
        width: auto;
        height: 20vh;
    }
  }
  @media (max-width: 450px) {
    .white-card {
        width: auto;
        height: 95vh;
        margin-left: 10px;
    }
    .theform{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .form-row{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .problem{
        display: flex;
        flex-direction: column;
        margin: 2%;
        width: auto;
        align-self: auto;
       
    }
    .theform .button{
        position:static !important;
        margin-left: 30px;
    }
  }

@media (max-width: 450px){
    .final_header{
        display: flex;
        flex-direction: column;
    }
}
.final {
    text-align: center;
    justify-content: space-between;
}

