.white-card {
    position: relative;
    width: 40%;
    background-color: #fff;
    padding: 20px;
    height: 80vh;
    margin: 40px;
    margin-left: 90px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}