.divider {
  height: 2px;
  width: 100%;
  background-color: #40290c;
}
.title {
  font-size: 47px;
  margin-bottom: 20px;
  color: #40290c;
}
.title-divider {
  width: 85%;
  height: 2px;
  background-color: #40290c;
  margin: 20px 0;
}
.book-now-button {
  background-color: #735634;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 25px;
  height: 60px;
  width: 210px;
  border-radius: 3px;
}
.booking-text {
  font-family: "Cairo", sans-serif;
  flex-grow: 1;
  text-align: right;
  font-size: 30px;
  color: #40290c;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  height: 60px;
}
.button-container {
  text-align: center;
  margin-right: 650px;
}
.load-more-button {
  background: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #40290c;
}
.book-now-button:hover {
  background-color: #40290c;
  color: #b7bac2;
}
