.t1 {
  font-size: 35px;
  color: #321801;
  margin-left: 40px;
  font-weight: bold;
}
.t2 {
  color: #321801;
  margin-top: 230px;
  text-align: right;
  font-size: 40px;
  margin-right: 40px;
  line-height: 55px;
  font-weight: 550;
}
.t3 {
  color: #321801;
  font-size: 25px;
  margin-top: 10px;
  text-align: right;
  margin-right: 55px;
  font-weight: 550;
}
.b4 {
  width: 220px;
  height: 60px;
  background: #735634;
  border: 0.2rem solid #615e5e13;
  border-radius: 5px;
  color: #d5d5d6;
  font-size: 2rem;
  margin-right: 100px;
}
.t4 {
  width: 220px;
  height: 60px;
  background: #735634;
  border: 0.2rem solid #615e5e13;
  border-radius: 5px;
  color: #d5d5d6;
  font-size: 2rem;
  margin-right: 100px;
}

.b4:hover {
  background-color: #40290C;
  color: #b7bac2;
}
.maincomponent {
  background-image: url("../image/yu2.jpg");
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  text-align: left;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
}
/* Common styles */
a {
  position: relative;
  text-decoration: none;
  z-index: 1;
}

a::before {
  background: #735634;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Navbar styles */
.navbar-custom {
  padding: 10px;
}

/* Navbar links styles */
.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-item a {
  color: #321801;
  padding: 10px;
}

/* Navbar links hover styles */
.nav-item a:hover {
  color: #321801;
}

/* Offcanvas styles */
.offcanvas-header {
  border-bottom: none;
  padding: 20px;
}

.offcanvas-body {
  padding: 0;
}

/* Offcanvas links styles */
.offcanvas-body .nav-item {
  padding: 10px;
}

.offcanvas-body .nav-item a {
  display: block;
  text-decoration: none;
}

/* Offcanvas links hover styles */
.nav-link-left {
  margin-left: 30px;
}

.nav-link-small {
  font-size: 30px;
}

/* Navbar brand styles */
.navbar-brand-large {
  font-size: 35px;
  font-weight: inherit;
}
.containerr{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20vh; /* Set the height of the container to fill the viewport */
  padding: 0 20px;
}
.b4 {
  width: 220px;
  height: 60px;
  background: #735634;
  border: 0.2rem solid #615e5e13;
  border-radius: 5px;
  color: #d5d5d6;
  font-size: 2rem;
  margin-right: 100px;
}
.t4:hover {
  background-color: #40290C;
  color: #b7bac2;
}