
   .about h1 {
    text-align: center;
    background-color: black;
    position: absolute;
    top:730px;
    left:750px;
    color: aliceblue;
    display: flex;
    margin: 80px auto;
    padding: 130px 300px 80px;
    font-family: 'Cairo', sans-serif;
    float: right;
  }
  
  .about p {
    align-items: center;
  justify-content: center;
    text-align: center;
    position: absolute;
    top:840px;
    left:80px;
    line-height: 2;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
  }
  
  
  
  .all {
    margin-top: 400px;
  }
  