.userinfo-confirmation {
  max-width: 700px;
  margin: 0 auto;
  position: absolute;
  right: 40px;
  top: 350px;
}

.form-control {
  font-size: 20;
  height: 40px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #735634;
  background-color: #dddbe5;
  color: #735634;
}

.error-message {
  font-size: 15px;
  color: red;
}

.button {
  margin-top: 20px;
  position: absolute;
  left: 100px;
  top: 550px;
  width: 250px;
  height: 55px;
  background: #735634;
  border: 0.2rem solid #615e5e13;
  border-radius: 5px;
  color: #e0d9f1;
  font-size: 20px;
}
.button:hover {
  background-color: #40290c;
  color: #b7bac2;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.form-row > .form-group {
  padding-right: 10px;
  padding-left: 10px;
  flex: 0 0 50%;
}
.success-message {
  color: green;
  font-weight: 500;
}
.done{
  display: flex;
  justify-content: center;
  align-items: center;


}
