.black-card {
  background-color: #735634;
  color: white;
  width: 30vw;
  height: 80vh;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  margin: 40px;
  margin-right: 90px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 768px) {
  .black-card {
    width: 60%; /* Adjust the width as needed for smaller screens */
    height: 50vh;
  }
}

.text {
  font-size: 4.5vw;
}
.line {
  width: 80%;
  height: 1px;
  background-color: white;
  margin: 20px auto;
}
.aditiional_text {
  margin-top: 10px;
  font-size: 2.5vw;
}
