.black-card {
    position: fixed;
    background-color: black;
    color: white;
    width: 30%;
    height: 80vh;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    padding: 20px;
    text-align: center;
 
}



.text {
    font-size: 5vw;  
}
.line{
    width: 80%;
        height: 1px;
        background-color: white;
        margin: 20px auto;
}
.aditiional_text{
    margin-top: 10px;
        font-size: 2.5vw;
}